---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* User vars */


// Color vars
$primary-color: #df5732;
$text-color: #f2f2f2;
$link-color: mix($primary-color, $text-color, 85%); 
$link-color-hover: mix(#fff, $link-color, 15%);
$link-color-visited: mix(#000, $link-color, 10%);
$masthead-link-color: $text-color;
/* $masthead-link-color-hover: mix(#000, $text-color, 10%); */
$masthead-link-color-hover: $text-color; 

// Masthead customizations


// Posts customizations

// Remove left padding
article.page {
    float: left;
    width: 100%;
}


/*
// Syntax Highlighting - OceanicNext by https://github.com/voronianski/oceanic-next-color-scheme
$base00: #1B2B34; //Default background
$base00: #2F333D;
$base01: #343D46;
$base02: #4F5B66;
$base03: #65737E;
$base04: #A7ADBA;
$base05: #C0C5CE;
$base06: #CDD3DE;
$base07: #D8DEE9;
$base08: #EC5f67;
$base09: #F99157;
$base0a: #FAC863;
$base0b: #99C794;
$base0c: #5FB3B3;
$base0d: #6699CC;
$base0e: #C594C5;
$base0f: #AB7967;
*/

// Nord by arcticicestudio

$base00: #2E3440;
$base01: #3B4252;
$base02: #434C5E;
$base03: #4C566A;
$base04: #D8DEE9;
$base05: #E5E9F0;
$base06: #ECEFF4;
$base07: #8FBCBB;
$base08: #88C0D0;
$base09: #81A1C1;
$base0a: #5E81AC;
$base0b: #BF616A;
$base0c: #D08770;
$base0d: #EBCB8B;
$base0e: #A3BE8C;
$base0f: #B48EAD;

/* End of user vars */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials